html, body { height: 100%; width: 100%; margin: 0; }
body{
    margin: 20px;
}
.maindescription{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.description{
    float: left;
    margin-left: 3%;
}
.description ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    width: 45%;
}
.descriptionDiv{
    width: 95%;
    position: relative;
}
.content {
    width: 98%;
    height: 95%;
    clear: left;
}
#statusField{
    display: none;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
input{
    margin: 15px;
}

#backgroundtext {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

text, label, p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="range"]{
    background: deepskyblue;
    width: 130px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}